.curriculum{
    height: 30rem;
    width:70%;
    margin: auto;
    color: rgb(230, 255, 5);
    background-color: rgb(1, 183, 255);
    position:relative;
}

h1{
    position: absolute;
    left: 50%;
    top:15%;
    font-family: Helvetica, Arial, serif;
}

.Img{
    height:85%;
    width:45%;
    top: 5%;
    position: relative;
    border-radius: 40px;
}

p{
    left:50%;
    top: 30%;
    width:50%;
    position: absolute;
    font-family: Helvetica, sans-serif, Arial;
    line-height: 1cm;
}

.Contacto{
    position: absolute;
    background-color: white;
    color:black;
    width: 30%;
    font-size: 100%;
    left: 55%;
    top:60%;
    height: 40px;

}